<a href="https://colab.research.google.com/github/usha-1-bandi/pythonpractice_session2/blob/main/pythonpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
if(a==5):
    print("success")
else:

    print("failed")

failed

In [ ]:
a=int(input())
if a%2==0 :
  print(a," is even")
else:
  print(a,"is odd")

7
7 is odd

In [ ]:
mark=int(input("enter the marks"))
if mark <=100 and mark>90:
    print("A+")
elif mark <=90 and mark>80:
    print("A")
elif mark <=80 and mark>70:
    print("B+")
elif mark <=70 and mark>60:
    print("B")

else:
    print("average")

enter the marks90
A

In [ ]:
weight=float(input("enter the weight"))
height=float(input("enter the height"))
bmi=weight/(height**2)
if weight<18.5:
  print("underweight")
elif weight>=18.5 and weight<=24.9:
  print("Normal weight")
  print(bmi)
elif weight>=25 and weight<=29.9:
  print("Overweight")
  print(bmi)
else:
  print("Obesity")
  print(bmi)

enter the weight45
enter the height1.8
Obesity
13.888888888888888

In [ ]:
for i in range(0,10,):
  print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
for i in range(0,10,):
  print(i)
  name="prathiksha"
  for i in name:
    print(i)

0
p
r
a
t
h
i
k
s
h
a
1
p
r
a
t
h
i
k
s
h
a
2
p
r
a
t
h
i
k
s
h
a
3
p
r
a
t
h
i
k
s
h
a
4
p
r
a
t
h
i
k
s
h
a
5
p
r
a
t
h
i
k
s
h
a
6
p
r
a
t
h
i
k
s
h
a
7
p
r
a
t
h
i
k
s
h
a
8
p
r
a
t
h
i
k
s
h
a
9
p
r
a
t
h
i
k
s
h
a

In [ ]:
name="prathiksha"
for i in name:
    print(i)

p
r
a
t
h
i
k
s
h
a

In [ ]:
a=100
while a>=10:
  print(a)
  a=a-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10

In [ ]:
def add(a,b):
  print("addition of a and b:",a+b)

add(a,b)

addition of a and b: 9

In [ ]:
def add(a,b):
  #print("addition of a and b:",a+b)
  sum=a+b
  return sum #after return statement w cannot execute anything

# Define 'a' and 'b' before calling the function
a =int(input())  # Example value for a
b =int(input())
    # Example value for b
sum=add(a,b)
print(sum)

5
6
11

In [ ]:
def even_odd(a):
  if a%2==0:
    print("even")
  else:
    print("odd")

a=int(input())
even_odd(a)

6
even

In [ ]:
def add(a,b):
   print("addition of a and b:",a+b)


# Define 'a' and 'b' before calling the function
a =int(input())  # Example value for a
b =int(input())
    # Example value for b
add(a,b)

6
8
addition of a and b: 14

In [ ]:
def add():
  print ("addition:",10+5)
add()

addition: 15

In [ ]:
def addition(a,b):
  sum=a+b
  return sum
def subtract(a,b):
  sub=a-b
  return sub
def division(a,b):
  div=a/b
  return div
def multiplication(a,b):
  mul=a*b
  return mul
a=int(input())
b=int(input())
if a==2:
  print("addition:",{addition(a,b)})
elif a==2:
  print("subtraction:",{subtract(a,b)})
elif a==3:
  print("division:",{division(a,b)})
elif a==4:
  print("multiplication:",{multiplication(a,b)})

3
6
division: {0.5}

In [ ]:
#file handling
#createe a txt file and enter some data
file=open("sample.txt")
content=file.read()
print(content)

FileNotFoundError: [Errno 2] No such file or directory: 'sample.txt'

In [ ]:
try:
       file = open("sample.txt")
       content = file.read()
       print(content)
except FileNotFoundError:
       print("File not found. Please make sure 'sample.txt' exists in the current directory or provide the correct path.")

File not found. Please make sure 'sample.txt' exists in the current directory or provide the correct path.

In [ ]:
#write data to txt file
file=open("sample.txt","w")
file.write("hello")
file.close()

In [ ]:
#append mode it will not clear the existing data but it adds the new data
file=open("sample.txt","a")
file.write("hello")
file.close()

In [ ]:
#to create file
file=open("sample.txt",'x')
file.close()

In [ ]:
#to create existing file x times
import os
if os.path.exists("sample.txt"):
  file=open("sample.txt",'r')
  print(file.read())
else:
  file=open("sample.txt",'x')

hello

In [ ]:
#delete file
if os.path.exists("sample.txt"):
  os.remove("sample.txt")
else:
  print("file not found")

In [ ]:
#lists items are odered,chageable(mutable) and allow duplicate values
list1=[1,2,3,44]
print(list1)
print(list[2]) #to get particular element
list1.append(8)#to add end of the list
print(list1)
list1.insert(1,5)#to add element at particular index
print(list1)
#to remove elements
list1.pop()#removes end element in the list
print(list1)
list1.remove(1)#removes particular element,specify particular element not index of it
print(list1)
list1.sort()#sort the list
print(list1)
list1.reverse()#reverse the list
print(list1)
for i in list1 :
  print(i)

[1, 2, 3, 44]
list[2]
[1, 2, 3, 44, 8]
[1, 5, 2, 3, 44, 8]
[1, 5, 2, 3, 44]
[5, 2, 3, 44]
[2, 3, 5, 44]
[44, 5, 3, 2]
44
5
3
2

In [ ]:
#tuple
a=("apple","bannana","cherry","apple")
print(a)
print(a[2])
#to make tuple mutable
a=list(a)
print(a)
a.remove('bannana')
print(a)
a=tuple(a)
print(a)
#to fin how many times a element in tuple occured
print(a.count('apple'))

('apple', 'bannana', 'cherry', 'apple')
cherry
['apple', 'bannana', 'cherry', 'apple']
['apple', 'cherry', 'apple']
('apple', 'cherry', 'apple')
2

In [ ]:
#Dictionary
student_detail={'name':'usha','section':'omega','rollno':594}
print(student_detail)
#get method
print(student_detail.get('name'))
student_detail['height']=6.0
print(student_detail)
#no duplication it only updates the existing value
student_detail['rollno']=593
print(student_detail)
#to remove key
student_detail.pop('height')
print(student_detail)
print(student_detail.keys())
print(student_detail.values())

{'name': 'usha', 'section': 'omega', 'rollno': 594}
usha
{'name': 'usha', 'section': 'omega', 'rollno': 594, 'height': 6.0}
{'name': 'usha', 'section': 'omega', 'rollno': 593, 'height': 6.0}
{'name': 'usha', 'section': 'omega', 'rollno': 593}
dict_keys(['name', 'section', 'rollno'])
dict_values(['usha', 'omega', 593])

In [ ]:
#set is a collection which is unordered ,unchangeable,and unindexed,noduplicates
s={1,3,4,56,7}
u={4,8,98,6,5,}
print(s)
#to add element
s.add(6)
print(s)
print(s.intersection(u))#returns common elements
print(s.union(u))
print(s.difference(u))
print(u.difference(s))
print(u.symmetric_difference(s))
#if we make a set frozenset it cannot inlude any elements in it
#s=frozenset(s)
#s.add(0)

{1, 3, 4, 7, 56}
{1, 3, 4, 6, 7, 56}
{4, 6}
{1, 98, 3, 4, 5, 6, 7, 8, 56}
{56, 1, 3, 7}
{8, 98, 5}
{1, 98, 3, 5, 7, 8, 56}

In [ ]:
#oops
#class
#class is collection of objects
class employee:
  #class variable
  company="amazon"
  #instance variable should be written within method
  #constructor
  def __init__(self,name,department):
    self.name=name#initializing
    self.department=department
  #behaviour
  def display(self):
    print("i am ",self.name,"and my department is",self.department)
#creating object to call constructor
#object creation
s=employee("prathiksha","cse")
print(s.name)
print(s.company)
s.display()
s1=employee("usha","cse")
print(s1.company)
s1.display()

prathiksha
amazon
i am  prathiksha and my department is cse
amazon
i am  usha and my department is cse

In [ ]:
#patterns
for i in range(4):
  for j in range(4):
    print("#",end="")
  print()

####
####
####
####

In [ ]:
print("hello world")

hello world

In [ ]:
for i in range(4):
  for j in range(4-i):
    print("#",end=" ")
  print()

# # # #
# # #
# #
#

In [ ]:
for i in range(5):
  for j in range(i):
    print("#",end=" ")
  print()

#
# #
# # #
# # # #

In [ ]:
for i in range(4):
  for j in range(i+1):
    print("#",end=" ")
  print()

#
# #
# # #
# # # #

In [ ]:
nums=[15,46,869,498998,34434]
for i in nums:
  if i==10:
    print("success")
  else:
    print("failed")

failed
failed
failed
failed
failed

In [ ]:
nums=[15,46,869,498998,34434]
for i in nums:
  if i==10:
    print("success")
else:
  print("failed")

failed

In [ ]:
a=int(input("enter a number:"))
if a%2==0:
  print("prime")
else:
  print("not prime")

enter a number:14
prime

In [ ]:
num=100
for i in range(45,num):
  if num%i==0:
    print("  not prime")
    break
else:
  print("prime")

  not prime

In [9]:
#arrays
import array as arr
var=arr.array('i',[1,3,4,5,7,6,])#in place of i use u for letters
print(var.buffer_info())#it will print address and size
print(var.typecode)
print(var[0])
#assinging previous values to new array
new_arr=arr.array(var.typecode,(a for a in var))
print(new_arr)
for i in new_arr:
  print(i*i)
for i in var:
  print(i)
#another way if we dont know thes size of array
for i in range(len(var)):
  print(var[i])

(135848305635216, 6)
i
1
array('i', [1, 3, 4, 5, 7, 6])
1
9
16
25
49
36
1
3
4
5
7
6
1
3
4
5
7
6